[submodule "vendor/github.com/cf-test-helpers"]
	path = vendor/github.com/cf-test-helpers
	url = https://github.com/cloudfoundry-incubator/cf-test-helpers
[submodule "vendor/github.com/cloudfoundry-incubator/cf-test-helpers"]
	path = vendor/github.com/cloudfoundry-incubator/cf-test-helpers
	url = https://github.com/cloudfoundry-incubator/cf-test-helpers
[submodule "vendor/github.com/nu7hatch/gouuid"]
	path = vendor/github.com/nu7hatch/gouuid
	url = https://github.com/nu7hatch/gouuid
[submodule "vendor/github.com/onsi/ginkgo"]
	path = vendor/github.com/onsi/ginkgo
	url = https://github.com/onsi/ginkgo
[submodule "vendor/github.com/onsi/gomega"]
	path = vendor/github.com/onsi/gomega
	url = https://github.com/onsi/gomega
[submodule "vendor/github.com/tedsuo/ifrit"]
	path = vendor/github.com/tedsuo/ifrit
	url = https://github.com/tedsuo/ifrit
[submodule "vendor/github.com/gopkg.in/yaml.v2"]
	path = vendor/github.com/gopkg.in/yaml.v2
	url = https://github.com/go-yaml/yaml
[submodule "vendor/gopkg.in/yaml.v2"]
	path = vendor/gopkg.in/yaml.v2
	url = https://github.com/go-yaml/yaml
[submodule "vendor/code.cloudfoundry.org/cf-routing-test-helpers"]
	path = vendor/code.cloudfoundry.org/cf-routing-test-helpers
	url = https://github.com/cloudfoundry-incubator/cf-routing-test-helpers
[submodule "vendor/code.cloudfoundry.org/clock"]
	path = vendor/code.cloudfoundry.org/clock
	url = https://github.com/cloudfoundry/clock
[submodule "vendor/code.cloudfoundry.org/lager"]
	path = vendor/code.cloudfoundry.org/lager
	url = https://github.com/cloudfoundry/lager
[submodule "vendor/code.cloudfoundry.org/routing-api"]
	path = vendor/code.cloudfoundry.org/routing-api
	url = https://github.com/cloudfoundry-incubator/routing-api
[submodule "vendor/code.cloudfoundry.org/uaa-go-client"]
	path = vendor/code.cloudfoundry.org/uaa-go-client
	url = https://github.com/cloudfoundry-incubator/uaa-go-client
[submodule "code.cloudfoundry.org/trace-logger"]
	path = code.cloudfoundry.org/trace-logger
	url = https://github.com/cloudfoundry-incubator/trace-logger
[submodule "tedsuo/rata"]
	path = tedsuo/rata
	url = https://github.com/tedsuo/rata
[submodule "vendor/code.cloudfoundry.org/trace-logger"]
	path = vendor/code.cloudfoundry.org/trace-logger
	url = https://github.com/cloudfoundry-incubator/trace-logger
[submodule "vendor/tedsuo/rata"]
	path = vendor/tedsuo/rata
	url = https://github.com/tedsuo/rata
[submodule "vendor/github.com/tedsuo/rata"]
	path = vendor/github.com/tedsuo/rata
	url = https://github.com/tedsuo/rata
[submodule "vendor/github.com/vito/go-sse"]
	path = vendor/github.com/vito/go-sse
	url = https://github.com/vito/go-sse
[submodule "vendor/github.com/dgrijalva/jwt-go"]
	path = vendor/github.com/dgrijalva/jwt-go
	url = https://github.com/dgrijalva/jwt-go
[submodule "vendor/github.com/bmizerany/pat"]
	path = vendor/github.com/bmizerany/pat
	url = https://github.com/bmizerany/pat
